body {
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Verdana, Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji";
  font-size: 14px; 
  margin: 0;
}

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?78273339');
  src: url('./font/fontello.eot?78273339#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?78273339') format('woff'),
       url('./font/fontello.ttf?78273339') format('truetype'),
       url('./font/fontello.svg?78273339#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 
.icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe  {
  float:left; 
  height:22px; 
  width:100%;
}
.main{
  background: #3B5998;
  color: #f2f2f2;
  max-width: 300px;
  height: 100%;
  border-radius:5px;
  padding: 10px;
  margin-top: 10%;
  margin-left:auto;
  margin-right:auto;
  transition: 0.3s;
  text-align:center;
  min-height:300px;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.box{
  margin-bottom:10px;
  text-align:center;
}

.brand{
  color:#ffffff;
  padding:0px;
  margin:10px;
  font-size:35px;
  border-bottom: solid 2px #fff;
}

.username {
  background-color: #FDFBFB;
  border: none;
  border-radius:3px;
  border-bottom: 1px solid #f2f2f2;
  text-align:center;
  font-size: 16px;
  color: #000000;
  outline: none;
  width: 100%;
  height: 35px;
}

.password {
  background-color: #FDFBFB;
  border: none;
  border-radius:0px 0px 3px 3px;
  border-top: 1px solid #f2f2f2;
  text-align:center;
  font-size: 16px;
  color: #000000;
  outline: none;
  width: 100%;
  height: 35px;
}

.button {
  background-color: #d9d9d9;
  background-image: linear-gradient(#d9d9d9, #e6e6e6, #d9d9d9);
  border: none;
  border-radius:3px;
  color: #595959;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
}
.button:hover{
  font-weight:bold;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2 {
  background-color: #d32f2f;
  background-image: linear-gradient(#d32f2f, #ef5350, #d32f2f);
  border: none;
  border-radius:3px;
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
}
.button2:hover{
  font-weight:bold;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.small-button {
  background-color: #d9d9d9;
  background-image: linear-gradient(#d9d9d9, #e6e6e6, #d9d9d9);
  border: none;
  border-radius:3px;
  color: #595959;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width : 32%;
}

.notice{
  background-color:#fff8e1;
  border-radius:3px;
  padding:5px;
  margin-bottom:10px;
  font-size:14px;
  color: #000;
}
.table {
  width: 100%;
  border-collapse: collapse !important;
}
.table td,
.table th {
  padding: 5px;
  border: 1px solid #f2f2f2 !important;
  color:  #f3f4f5;
}

.table td, th, a{
  color: #f3f4f5;
  text-decoration: none;
}

.table2 {
  width: 100%;
  border-collapse: collapse !important;
  background-color: #fff;
  text-align:left;
}
.table2 td,
.table2 th {
  padding: 5px;
  border: 1px solid #000 !important;
}

.table2 td, th, a{
  color: #000;
  text-decoration: none;
}

@keyframes fadein {
  from {opacity:0;}
  to {opacity: 1;}
}
@-moz-keyframes fadein { /* Firefox */
  from {opacity:0;}
  to {opacity: 1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {opacity:0;}
  to {opacity: 1;}
}
@-o-keyframes fadein { /* Opera */
  from {opacity:0;}
  to {opacity: 1;}
}

/* @media */
@media screen and (max-width: 600px) {
  .main{
	width:90%;
    margin-top: 10%;
}}

/* @media */
@media screen and (min-width: 600px) {
  .main{
	margin-top: 2%;
}}
