
body {
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, "helvetica neue", Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 0px;
}

input {
  vertical-align: middle;
  margin: auto;
  box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

.plch-center::-webkit-input-placeholder {
   text-align: center;
}
.plch-center:-moz-placeholder {
   text-align: center;
}

/* button */
button{
  text-decoration: none;
  display: inline-block;
  border:none;
  background-color: none;
  font-size: 14px;
  line-height: 1.5;
}

/* container */
.container{
  width: 100%;
}
/* box */
.box{
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}
.box a{
  text-decoration: none;
}
.box h1, h3, h3, p{
  padding: 0px;
  margin: 0px;
}
.box-bordered{
  border: 1px solid #23282c;
}
/* box minh-50px*/
.bmh-50{
  min-height: 50px;
}
.bmh-55{
  min-height: 55px;
}
.bmh-60{
  min-height: 60px;
}
.bmh-65{
  min-height: 65px;
}
.bmh-70{
  min-height: 70px;
}
.bmh-75{
  min-height: 75px;
}
.bmh-80{
  min-height: 80px;
}
.bmh-85{
  min-height: 85px;
}
.bmh-90{
  min-height: 90px;
}
.bmh-95{
  min-height: 95px;
}
.bmh-100{
  min-height: 100px;
}

.box-group > div{
  display: table-cell;
  vertical-align: middle;
}
.box-group-icon{
  font-size: 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  width: 25%;
  user-select: none;
  border: 1px solid transparent;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  line-height: 1.5;
  border-radius: 3px;
}
.box-group-area{
  padding: 5px;
}
.login-box,
.register-box {
  width: 400px;
  margin: 10px auto;
  padding-top:10%;
}

.col-c{
  float:none; 
  margin: auto;
}


.box-shadow{
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* card */
.card{
  margin: 5px;
  border-radius: 3px;
  background-color: #fff;
}
.card a{

  text-decoration: none;
}
.card h3{
  margin: 0px;
}
.card-header{
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-radius: 2px 2px 0px 0px;
}
.card-body{
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}
.card-footer{
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  min-height: 20px;
  border-radius: 0px 0px 2px 2px;
}
.overflow{
  overflow-x:auto; 
  overflow-y:auto; 
  max-height: 80vh;
}


.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover{
  box-shadow: inset 0 0 0 transparent, 0 0 0 0.2rem rgba(166, 166, 166, 0.15);
}
.btn-md{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
.btn-md:hover{
  box-shadow: inset 0 0 0 transparent, 0 0 0 0.2rem rgba(166, 166, 166, 0.15);
}

/* backgound */
[class*="bg-"] {
  text-decoration: none;
}
.bg-primary{
  background-color: #20a8d8;
  color: #f3f4f5;
}
.bg-secondary{
  background-color: #73818f;
  color: #f3f4f5;
}
.bg-success{
  background-color: #4dbd74;
  color: #f3f4f5;
}
.bg-info{
  background-color: #63c2de;
  color: #f3f4f5;
}
.bg-warning{
  background-color: #ffc107;
  color: #f3f4f5;
}    
.bg-danger{
  background-color: #f86c6b;
  color: #f3f4f5;
}
.bg-light{
  background-color: #f3f4f5;
  color: #2f353a;
}
.bg-dark{
  background-color: #2f353a;
  color: #f3f4f5;
}
.bg-blue{
  background-color: #20a8d8;
  color: #f3f4f5;
}
.bg-indigo{
  background-color: #6610f2;
  color: #f3f4f5;
}
.bg-purple{
  background-color: #6f42c1;
  color: #f3f4f5;
}
.bg-pink{
  background-color: #e83e8c;
  color: #f3f4f5;
}
.bg-red{
  background-color: #f86c6b;
  color: #f3f4f5;
}
.bg-orange{
  background-color: #f8cb00;
  color: #f3f4f5;
}
.bg-yellow{
  background-color: #ffc107;
  color: #f3f4f5;
}
.bg-green{
  background-color: #4dbd74;
  color: #f3f4f5;
}
.bg-teal{
  background-color: #20c997;
  color: #f3f4f5;
}
.bg-cyan{
  background-color: #17a2b8;
  color: #f3f4f5;
}
.bg-white{
  background-color: #fff;
  color: #2f353a;
}
.bg-grey{
  background-color: #73818f;
  color: #f3f4f5;
}
.bg-grey-dark{
  background-color: #2f353a;
  color: #f3f4f5;
}
.bg-light-blue{
  background-color: #63c2de;
  color: #f3f4f5;
}



/* text */
[class*="text-"] {
  text-decoration: none;
}
.text-primary{
  color: #20a8d8;
}
.text-secondary{
  color: #73818f;
}
.text-success{
  color: #4dbd74;
}
.text-info{
  color: #63c2de;
}
.text-warning{
  color: #ffc107;
}    
.text-danger{
  color: #f86c6b;
}
.text-light{
  color: #f3f4f5;
}
.text-dark{
  color: #2f353a;
}
.text-blue{
  color: #20a8d8;
}
.text-indigo{
  color: #6610f2;
}
.text-purple{
  color: #6f42c1;
}
.text-pink{
  color: #e83e8c;
}
.text-red{
  color: #f86c6b;
}
.text-orange{
  color: #f8cb00;
}
.text-yellow{
  color: #ffc107;
}
.text-green{
  color: #4dbd74;
}
.text-teal{
  color: #20c997;
}
.text-cyan{
  color: #17a2b8;
}
.text-white{
  color: #fff;
}
.text-grey{
  color: #73818f;
}
.text-grey-dark{
  color: #2f353a;
}
.text-light-blue{
  color: #63c2de;
}
.text-bold{
  font-weight: bold;
}

/* align */
.align-middle{
  vertical-align: middle;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-nowrap{
  white-space: nowrap;
}
 
/* row */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.w-1 {width: 8.33%;}
.w-2 {width: 16.66%;}
.w-3 {width: 25%;}
.w-4 {width: 33.33%;}
.w-5 {width: 41.66%;}
.w-6 {width: 50%;}
.w-7 {width: 58.33%;}
.w-8 {width: 66.66%;}
.w-9 {width: 75%;}
.w-10 {width: 83.33%;}
.w-11 {width: 91.66%;}
.w-12 {width: 100%;}

/* column */
[class*="col-"] {
  float: left;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*table*/
.table {
  width: 100%;
  border-collapse: collapse !important;
}
.table td,
.table th {
    padding: 5px;
}

.table td, th, a{
  color: #000;
  text-decoration: none;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ccc !important;
}
.table-hover:hover tbody tr:hover {
  background-color: #f2f2f2;
}


.radius-l-3 {
  border-radius: 3px 0pc 0pc 3px;
}
.radius-r-3 {
  border-radius: 0px 3px 3px 0px;
}
.radius-b-3 {
  border-radius: 0px 0px 3px 3px;
}
.radius-3 {
  border-radius: 3px;
}
.radius-l-5 {
  border-radius: 5px 0pc 0pc 5px;
}
.radius-r-5 {
  border-radius: 0px 5px 5px 0px;
}
.radius-5 {
  border-radius: 5px;
}


/* alert */
.alert{
width: 100%; padding:5px 0px 5px 0px; border-radius: 3px;
}
/*padding*/
.pd-2{padding: 2px;}
.pd-3{padding: 3px;}
.pd-4{padding: 4px;}
.pd-5 {padding: 5px;}
.pd-6 {padding: 6px;}
.pd-7 {padding: 7px;}
.pd-8 {padding: 8px;}
.pd-9 {padding: 9px;}
.pd-10 {padding: 10px;}

.pd-t-2{padding-top: 2px;}
.pd-t-3{padding-top: 3px;}
.pd-t-4{padding-top: 4px;}
.pd-t-5 {padding-top: 5px;}
.pd-t-6 {padding-top: 6px;}
.pd-t-7 {padding-top: 7px;}
.pd-t-8 {padding-top: 8px;}
.pd-t-9 {padding-top: 9px;}
.pd-t-10 {padding-top: 10px;}

.pd-b-2{padding-bottom: 2px;}
.pd-b-3{padding-bottom: 3px;}
.pd-b-4{padding-bottom: 4px;}
.pd-b-5 {padding-bottom: 5px;}
.pd-b-6 {padding-bottom: 6px;}
.pd-b-7 {padding-bottom: 7px;}
.pd-b-8 {padding-bottom: 8px;}
.pd-b-9 {padding-bottom: 9px;}
.pd-b-10 {padding-bottom: 10px;}

.pd-r-2{padding-right: 2px;}
.pd-r-3{padding-right: 3px;}
.pd-r-4{padding-right: 4px;}
.pd-r-5 {padding-right: 5px;}
.pd-r-6 {padding-right: 6px;}
.pd-r-7 {padding-right: 7px;}
.pd-r-8 {padding-right: 8px;}
.pd-r-9 {padding-right: 9px;}
.pd-r-10 {padding-right: 10px;}

.pd-l-2{padding-left: 2px;}
.pd-l-3{padding-left: 3px;}
.pd-l-4{padding-left: 4px;}
.pd-l-5 {padding-left: 5px;}
.pd-l-6 {padding-left: 6px;}
.pd-l-7 {padding-left: 7px;}
.pd-l-8 {padding-left: 8px;}
.pd-l-9 {padding-left: 9px;}
.pd-l-10 {padding-left: 10px;}

/*margin*/
.mr-a {margin: auto;}

.mr-2{margin: 2px;}
.mr-3{margin: 3px;}
.mr-4{margin: 4px;}
.mr-5 {margin: 5px;}
.mr-6 {margin: 6px;}
.mr-7 {margin: 7px;}
.mr-8 {margin: 8px;}
.mr-9 {margin: 9px;}
.mr-10 {margin: 10px;}

.mr-t-2{margin-top: 2px;}
.mr-t-3{margin-top: 3px;}
.mr-t-4{margin-top: 4px;}
.mr-t-5 {margin-top: 5px;}
.mr-t-6 {margin-top: 6px;}
.mr-t-7 {margin-top: 7px;}
.mr-t-8 {margin-top: 8px;}
.mr-t-9 {margin-top: 9px;}
.mr-t-10 {margin-top: 10px;}

.mr-b-2{margin-bottom: 2px;}
.mr-b-3{margin-bottom: 3px;}
.mr-b-4{margin-bottom: 4px;}
.mr-b-5 {margin-bottom: 5px;}
.mr-b-6 {margin-bottom: 6px;}
.mr-b-7 {margin-bottom: 7px;}
.mr-b-8 {margin-bottom: 8px;}
.mr-b-9 {margin-bottom: 9px;}
.mr-b-10 {margin-bottom: 10px;}

.mr-r-2{margin-right: 2px;}
.mr-r-3{margin-right: 3px;}
.mr-r-4{margin-right: 4px;}
.mr-r-5 {margin-right: 5px;}
.mr-r-6 {margin-right: 6px;}
.mr-r-7 {margin-right: 7px;}
.mr-r-8 {margin-right: 8px;}
.mr-r-9 {margin-right: 9px;}
.mr-r-10 {margin-right: 10px;}

.mr-l-2{margin-left: 2px;}
.mr-l-3{margin-left: 3px;}
.mr-l-4{margin-left: 4px;}
.mr-l-5 {margin-left: 5px;}
.mr-l-6 {margin-left: 6px;}
.mr-l-7 {margin-left: 7px;}
.mr-l-8 {margin-left: 8px;}
.mr-l-9 {margin-left: 9px;}
.mr-l-10 {margin-left: 10px;}

/*pointer*/
.pointer{
  cursor: pointer;
}
/*form control*/
.form-control {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
  
}

.form-control:focus {
  color: #000;
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 transparent, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
  color: #ccc;
}

.form-control-md {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
  
}
.form-control-md:focus {
  color: #000;
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 transparent, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control-md::placeholder {
  color: #ccc;
}

  #main{
  margin-top: 5%;
}

/* @media */
@media screen and (max-width: 800px) {
  [class*="col-"] {
        width: 100%;
    }
  body{
    padding: 10px;
  }
  #main{
    margin-top: 0;
  }  

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

 
}  
